<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="icon" href="/static/graph-up.svg">
        <link rel="stylesheet" type="text/css" href="/static/fontawesome-free-5.15.2-web/css/all.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

        {% block header %} {% endblock %}

        <title>{{title}}</title>
    </head>
    <body>
        {% include 'navigation.html' %}

        {% include 'recommendation.html' %}

        <main>
            {% block content %}{% endblock %}

            {% block script %}{% endblock %}

        </main>

        <script>
            $j = jQuery.noConflict();

            function loading (div_id){
                var load = document.createElement("div")
                load.className = "lds-ellipsis"
                load.id = div_id + "_loading"
                load.innerHTML = "<div></div><div></div><div></div><div></div>"
                document.getElementById(div_id).appendChild(load)
            }

            function endloading (div_id){
                var element = document.getElementById(div_id + "_loading")
                if (element != null){
                    document.getElementById(div_id).removeChild(element)
                }
            }
        </script>


        {% include 'footer.html' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>