{% extends 'layout.html' %}
{% set active_page = 'home' %}

{% block content %}
    <div class="textblock">
        <h1>Welcome to the Analytics Workbench!</h1>
        <p>
            This Workbench offers tools to analyze Citizen Science Projects.
            As of now it utilizes Explicit Semantic Analysis (ESA) to assign Research Areas to the Projects
            and Named Entity Recognition (NER) to identify Named Entities in the descriptions.
        </p>

        <p>
            If you know about a Citizen Science Project you can search for it here to see if it has already been analyzed.
            If it has, you can go and check if the data we got on the project is accurate and correct it if need be.
            If it has not, all you need to do that yourself is the name of the project and a link to the projects description.
        </p>

        <p>
            To add a new Project please go to the "Analyse Project" Page and enter the projects name and a link to a descriptive page about the project
            (e.g. an "about" page)
            you can then have the workbench extract the websites content. For some websites however this step unfortunately does not work.
            In that case you can simply copy and paste the projects description in the text field yourself.
            Once the description is acquired you can then analyze the project.
        </p>

        <p>
            The gathered data is used to generate Citizen Science Recommendations for you based on the projects you looked at and modified.
            Which are displayed on the left-hand sidebar.
            Additionally, a dashboard overview is generated and can be seen on the "Explore Data" page.
        </p>

        <p>
            This Workbench is very much a work in progress, so if you find something not working as expected or seeming off,
            don't hesitate to contact us so we can fix it and improve the workbench.
        </p>



        <div id="find-project">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="project_name_input">Project name</label>
                </div>
                <input id="project_name_input" type="text" name="project_name" class="form-control" placeholder="Type to search..." list="datalistOptions">
                <datalist id="datalistOptions">

                </datalist>
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button" id="buttonProjectName" value="Analyse Project">Analyse project</button>
                </div>
            </div>
        </div>

    </div>


    <!--
    <div class="textblock project_input">
        Do you have a link for the project you want to analyse?* Then enter it here: <br/>
        <input id="project_link_Input_A" type="text" name="project_link_A" placeholder="project link">
        <input class="btn btn-dark" id="buttonProjectInput" type="submit" value="Analyse Project">

        <br/> * Otherwise go to <a href="/analyse">Analyse Project</a> to use a project description
    </div>
    -->
{% endblock %}

{% block script %}
    <script>
        $j = jQuery.noConflict();
        var project_names = []
        $j(document).ready(function () {
            set_up_suggestions()
        });

        $j("#buttonProjectName").click(function(){
            var project_name =  $j("#project_name_input").val()
            localStorage["project_name"] = project_name

            localStorage.removeItem("project-link")
            localStorage.removeItem("project-description")
            localStorage.removeItem("esa_res")
            localStorage.removeItem("ner_res")

            if (project_names.includes(project_name)) {
                window.location.href = "/analyse/project"
            } else {
                window.location.href = "/analyse"
            }
        })
    </script>
{% endblock %}